.design {
  padding-block: 100px;
  background-color: $color-bg-secondary;
}

.design__header {
  margin-bottom: 64px;
}

.design__note {
  margin-bottom: 16px;
}

.design__title {
  font-size: $font-size-title;
  font-weight: bold;
  letter-spacing: -2px;
  margin-bottom: 16px;
}
.design__desc {
  font-size: $font-size-text;
  font-weight: 300;
  color: $color-white-40;
}
.design__gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  margin-bottom: 64px;

  img {
    max-width: 100%;
    height: auto;
  }
}

.design__features {
  display: flex;
  justify-content: space-between;
}
.design__features-item {
  padding: 32px;
  background-color: $color-surface-primary;
  border: 1px solid $color-bg-primary;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 12px;
}
.design__features-title {
  display: block;
  font-size: 16px;
  font-weight: 700;
}
.design__features-desc {
  display: block;
  font-size: 13px;
  font-weight: 300;
  line-height: 160%;
  color: $color-white-40;
}

@media (max-width: 1024px) {
  .design__features-item {
    padding: 12px;
  }
}

@media (max-width: 520px) {
  .design__features {
    display: block;
  }

  .design__title {
    font-size: $font-size-title-mobile;
  }
}
