.hero {
  background: url(../../img/hero_overlay.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;

  .container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end;
    min-height: calc(100svh - 80px);
  }
}

.hero__text {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-bottom: 32px;
}

.hero__title {
  font-size: 112px;
  font-weight: 800;
  letter-spacing: -3px;
}

.hero__desc {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 160%;
  font-weight: light;
  color: rgba(255, 255, 255, 0.73);
}

.hero__btn {
  padding: 16px 40px;
  text-transform: uppercase;
}

.hero__link {
  padding: 16px 40px;
  background-color: $color-crema;
  color: $color-black;
  text-transform: uppercase;
}

.hero__stats {
  display: flex;
  margin-bottom: 80px;
}

.hero__stats-wrapper {
  padding: 32px 24px;
}

.hero__stats-item {
  text-align: start;
  background-color: rgba(#fff, 0.03);
  border: 1px solid rgba(#fff, 0.08);
  transition: background-color 0.2s ease;

  span {
    display: block;
  }
}

.hero__stats-item:hover {
  background-color: rgba(#fff, 0.1);
}

.hero__stats-number {
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -1px;
  color: $color-crema;
  margin-bottom: 4px;
}

.hero__stats-text {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 3px;
  color: $color-grey;
  font-style: italic;
}

.hero__buttons:nth-last-child {
  border: 1px solid rgba(255, 255, 255, 0.27);
}

@media (max-width: 768px) {
  .hero {
    background-position: right;
  }
}

@media (max-width: 490px) {
  .hero__buttons {
    display: flex;
    column-gap: 10px;
  }
}

@media (max-width: 425px) {
  .hero__title {
    font-size: 64px;
  }

  .hero__btn,
  .hero__link {
    padding: 12px 20px;
  }

  .hero__stats-number {
    font-size: 26px;
  }

  .hero__stats-wrapper {
    padding: 16px 12px;
  }
}

@media (max-width: 375px) {
  .hero__title {
    font-size: 48px;
  }

  .hero__stats {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
