.performance .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  max-width: 100vw;
  padding: 0;
}

.performance__text {
  padding-block: 80px;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.performance__title {
  font-weight: bold;
  font-size: $font-size-title;
  line-height: 110%;
  letter-spacing: -2%;
}

.performance__desc {
  font-weight: light;
  font-size: $font-size-text;
  line-height: 170%;
  color: $color-white-53;
  max-width: 480px;
}

.performance__list {
  list-style: disc;
  list-style-type: square;
}

.performance__list-item {
  font-size: $font-size-text-mobile;
  font-style: italic;
  color: $color-white-67;
}

.performance__list-item + .performance__list-item {
  margin-top: 24px;
}

.performance__list-item::marker {
  color: $color-accent;
}

.performance__img {
  height: 100%;
  align-items: end;

  img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .performance__note {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .performance__title {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .performance__desc {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .performance__list-item {
    font-size: 12px;
  }

  .performance__list {
    margin-top: 10px;
  }

  .performance__text {
    row-gap: 28px;
  }
}

@media (max-width: 425px) {
  .performance .container {
    flex-direction: column;
    padding-inline: $container-padding-x;
    max-width: calc($container-max-width + $container-padding-x * 2);
    margin-inline: auto;
  }

  .performance__text {
    padding: 0;
    max-width: none;
    margin-bottom: 30px;
    row-gap: 10px;
  }
}
