.quotes {
  margin: 100px 0;
}
.quotes__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}
.quotes__title {
  font-size: $font-size-title;
  letter-spacing: -1px;
  font-weight: bold;
}
.quotes__desc {
  font-size: $font-size-text;
  font-weight: 300;
  color: $color-white-65;
}
.quotes__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
}
.quotes__card {
  flex: 1 1 280px;
  padding: 40px;
  background-color: $color-surface-primary;
  border: 1px solid $color-surface-border;
}
.quotes__card-symbol {
  font-size: 48px;
  color: $color-accent;
  font-weight: bold;
}
.quotes__card-text {
  font-size: 16px;
  line-height: 170%;
  font-weight: 300;
  color: $color-white-60;
  margin-bottom: 24px;
}

.quotes__card-user {
  display: flex;
  align-items: center;
  gap: 12px;
}
.quotes__card-user img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.quotes__user-name {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 2px;
}
.quotes__user-company {
  font-size: 11px;
  font-style: italic;
  color: $color-text-secondary;
}

@media (max-width: 800px) {
  .quotes__cards {
    flex-direction: column;
    justify-content: center;
  }
  .quotes__title {
    font-size: $font-size-title-mobile;
  }
  .quotes__desc {
    font-size: $font-size-text-mobile;
  }
}
