button {
  padding: 10px 24px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  color: $color-dark-grey;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button--primary {
  background-color: transparent;
  font-size: 13px;
  color: rgba($color-grey, 0.53);
  border: 1px solid rgba(#fff, 0.23);
}

.button--secondary {
  background-color: $color-crema;
  color: #0a0a0a;
  text-transform: uppercase;
}

button:hover {
  opacity: 0.8;
}

.link--primary {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
}

.link--secondary {
  background-color: transparent;
  font-size: 13px;
  color: $color-grey;
  border: 1px solid rgba(#fff, 0.23);
}
