@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$container-padding-x: 20px;
$container-max-width: 1280px;

$color-dark-grey: #0a0a0a;
$color-light: #fff;
$color-grey: #848484;
$color-crema: #c9a962;
$color-141414: #141414;
$background-secondary: #0d0d0d;
$color-black: #000;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: $color-dark-grey;
  color: $color-light;
}

body.scroll-block {
  overflow: hidden;
}

.container {
  padding-inline: $container-padding-x;
  max-width: calc($container-max-width + $container-padding-x * 2);
  margin-inline: auto;
}

.note {
  display: flex;
  align-items: center;
  column-gap: 12px;
  color: $color-crema;
  font-size: 11px;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.line {
  border: 1px solid $color-crema;
  width: 40px;
}
